.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .header__filter-feature{
    display: flex;
    column-gap: 31px;

}
.header__filter{
    align-items: center;
    display: flex;
    column-gap: 26px;
    position: relative;
}
.header__feature{
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.header__feature .feature__user{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.header__filter .filter__input{
    background-color: rgba(26, 164, 200, .2);
    width: 112px;
    height: 30px;
    font-size: 13px;
    padding: 8px 8px 7px 53px;
    font-weight: bold;
}
.header__filter p::after{
    content: "Năm";
    position: absolute;
    left: 52%;
    top: 20%;
}